:root {
  --border-radius: 12px;
  --logo-color: #5D5D6D;
  --bg-primary: #F0F0F5;
  --bg-secondary: #F3F5F6;
  --text-dark: #737380;
  --delete-color: #DE3838;
  --orange-low: #FFA585;
  --text-dark-secondary: #41414D;
  --shapes-dark: #09090A;
  --line-color: #DCE2E6;
  --secondary-text: #617480;
  --border-color: #A8A8B3;
  --checkout-button: #51B853;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
